@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FjallaOne';
  src: url('/Fonts/FjallaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PoppinsMedium';
  src: url('/Fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('/Fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url('/Fonts/ARIAL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ArialBD';
  src: url('/Fonts/ARIALBD.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.fjalla-one{
  font-family: "FjallaOne" , sans-serif;
}
.poppins-medium{
  font-family: "PoppinsMedium" , sans-serif;
}
.poppins{
  font-family: "Poppins" , sans-serif;
}
.arial{
  font-family: "ARIAL" , sans-serif;
}
.arial-bold{
  font-family: "ARIALBD" , sans-serif;
}

